
.resp-tabs-container {
    clear: left;
}

h2.resp-accordion {
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-tab-active {
}

.resp-tab-active {
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
}

h2.resp-accordion {
}

h2.resp-tab-active {
}

h2.resp-tab-title:last-child {
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    margin: 0;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    float: left;
    width: 68%;
    min-height: 250px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    position: relative;
}

.resp-arrow {
}

h2.resp-tab-active span.resp-arrow {
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
}
.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
}

.resp-easy-accordion .resp-tab-content:last-child {
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
        position: relative;
    }

    .resp-vtabs .resp-tab-content {
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}
/*======== GBO_integration ==========*/
#Tab_GBO{margin-bottom: 35px !important;}
#Tab_GBO .resp-tab-active,#Tab_GBO .resp-accordion:hover,#Tab_GBO .resp-accordion{background: none;position: relative;}
.GBO_Tab_list{
    width: 207px;
    float: left;
}
.GBO_Tab_box{
    float: left;
    width: 680px;
    padding: 36px;
    margin-left: -20px;
    background: #fff;
    box-shadow: 0 0 5px rgba(191,191,189,0.75)
}
#Tab_GBO .resp-tabs-container {
    clear: none;
}
    a[class^="GBO_Tab_list_it"]{
        display: block;
        font-size: 20px;
        line-height: 24px;
        color: #fff;
        font-weight: 700;
        padding: 30px 0 29px 30px;
        margin-bottom: 2px;
    }
    .GBO_Tab_list_it1{
        background: url(../images/GBO_title_bg1.png) 0 0 no-repeat;
    }
    .GBO_Tab_list_it2{
        background: url(../images/GBO_title_bg2.png) 0 0 no-repeat;
    }
    a.GBO_Tab_list_it3{
        background: url(../images/GBO_title_bg3.png) 0 0 no-repeat;
        padding: 20px 0 19px 27px;
    }
    .GBO_Tab_list_it4{
        background: url(../images/GBO_title_bg4.png) 0 0 no-repeat;
    }
    .GBO_Tab_list_it5{
        background: url(../images/GBO_title_bg5.png) 0 0 no-repeat;
    }
