/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 995px) {
 body{min-width:768px;}
body.main #content{margin-top: 10px;}
.fullwidthbanner-container{position: relative;}
.grade_lk{font-size: 13px;}
h1.logo{width: 100%;text-align: center;}
.sf-menu:after{width: 778px;}
.additional_options{font-size: 13px;}

.breadcrumbs{padding-bottom: 25px;}
.breadcrumbs_it{
	padding-left: 0;
	margin-bottom: 0;
	float: none;
	display: inline-block;
}
	.breadcrumbs_lk{
		background: none;
		padding: 0px 10px 0px 10px;
		line-height: 18px;
	}
	.breadcrumbs_first{height: auto;}
		.breadcrumbs_lk b{display: inline-block;}
	.breadcrumbs_last{color: #000 !important;}
	a.breadcrumbs_lk,a.breadcrumbs_lk span{text-decoration: underline;}
	.breadcrumbs_it:hover a.breadcrumbs_lk span{
		text-decoration: none;
	}
	.breadcrumbs_it:hover .breadcrumbs_lk{
		background: none;
		text-decoration: none;
		color: #ed1f25;
	}
	.breadcrumbs_lk:before{width: 0;}
	.breadcrumbs_lk:after{width: 0;}
		.breadcrumbs_first img{width: 0;}
		.breadcrumbs_first span{display: inline-block;}

.wrapper-dropdown-3{margin-left: 0;}
.tel_box{padding-left: 33px;}
.menu_link{font-size: 13px;padding: 8px 6px;}
.sf-with-ul{padding-right: 20px;}
.cost_it_second,.cost_it{width: 256px;}
.cost_it_last{width: 256px;}
.cost_btm{float: left;}
.list1{text-align: center;}
	.list1 img{float: none;}
	.box1{
		width: 100%;
		padding-left: 0;
		float: none;
	}
.list{text-align: center;}
	.list_item{float: none;}

.footer_link{
	font-size: 15px;
	padding-left: 15px;
}
.gallery_box_it{padding-left: 0;}
	.gallery_box_sub_it{padding-left: 8px;}
.banner_box .calculator_lk{font-size: 13px;padding-left: 8px;}
	.banner_box i{margin-top: 0;}
.title6{font-size: 20px;}
.mini_calculator{background-position: 100px 6px;}
.installment_plan{background-position: 70px 4px;}
.box3{width: 644px;}
.gallery_car_it1{margin: 0 7px 14px 7px !important;}
.GBO_title{font-size: 16px;}
}

@media only screen and (max-width: 767px) {
 body{min-width:420px;}

#content{
		z-index: 1;
		position: relative;
	}
.m_bot_zer_res2{margin-bottom: 0 !important;}

 nav{
 	padding: 10px 0;
 	margin: 0;
 }
 .menu_link{font-size: 20px;}
 .footer_menu{text-align: center;}
	 .footer_item{
	 	float: none;
	 	display: inline-block;
	 }
	 	.footer_link{
	 		padding: 0 7px;
	 	}
	 	.footer_item:first-child .footer_link{padding-left: 7px;}
 .header_box2,.header_box3{width: 100%;float: none;}
 .tel_box{float: right;padding-left: 0;text-align: right;}
.cost_box_tab{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	background: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
	.resp-accordion{
		width: auto;
		margin: 0 auto;
		float: none;
		margin-bottom: 2px;
		background: #fff;
		-webkit-border-radius: 100px 100px 2px 2px;
		-webkit-transition: all 0.8s ease;
		-moz-transition: all 0.8s ease;
		-ms-transition: all 0.8s ease;
		-o-transition: all 0.8s ease;
		transition: all 0.8s ease;
	}
	.resp-accordion:hover,.resp-tab-active{
		background: #2662a0;
		-webkit-transition: all 0.8s ease;
		-moz-transition: all 0.8s ease;
		-ms-transition: all 0.8s ease;
		-o-transition: all 0.8s ease;
		transition: all 0.8s ease;
	}
	[aria-controls="tab_item-1"]{
		width: auto;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	[aria-controls="tab_item-2"]{
		-webkit-border-radius: 2px 2px 100px 100px;
		-moz-border-radius: 2px 2px 100px 100px;
		border-radius: 2px 2px 100px 100px;
	}
		.cost_lk{
			text-align: center;
			-webkit-transform: none;
			-moz-transform: none;
			-ms-transform: none;
			-o-transform: none;
			transform: none;
		}
		.cost_lk:before,.cost_lk:after,.resp-tab-active .cost_lk:after,.resp-tab-active:hover .cost_lk:after,.resp-accordion:hover .cost_lk:after{
			display: none;
		}
.cost_box_btn div.grid_4{margin-bottom: 0;}
	.cost_inp[type=text]{margin-left: 70px;}
	.cost_btn_lk{
		float: none;
		margin: 25px 0 10px 0px;
	}
#dd2, #dd3, #dd4, #dd5{margin: 0;}
.box2{margin-bottom: 5px;}
.cost_btm{float: right;}
.title1 a{font-size: 26px;}
.baner{display: none;}
.quote_box{
	padding:10px 10px 10px 20px;
}
	.quote,.owner{font-size: 14px;}
	.quote:before{left: -21px;}
	.quote:after{right: 0;}

.title4{
	text-align: center;
	padding-left: 0;
}
.column1,.column2,.column3{
	width: auto;
	padding-left: 0;
}
	.list1 img{float: left;}
	.box1{float: right;text-align: right;}
	.footer_bottom b,.developer{float: none; display: block; text-align: center;}

.flex-direction-nav a{
	width: 50px;
	height: 50px;
	top: 12%;
	-webkit-background-size: 12px;
	background-size: 12px;
	background-position: 20px 16px;
}
	.flex-direction-nav .flex-prev{left: -20px;}
	.flex-direction-nav .flex-next{right: -20px;}
	#prev, #next, #prev3, #next3{bottom: 20px;left: 25px;}
	#next, #next3{left: 65px;}
	.gallery_box_sub_it{padding-left: 6px;}
	.gallery_box_it{padding-bottom: 15px;}
	.demo,.cost_btm, .cost_btm_n{height: 36px;color: #000;}
	.box_photo img{width: 100%;}
.make_logo{
	margin-right: -35px;
	border: none;
	text-align: center;
}
	.list2_it div{margin-bottom: 5px !important;text-align: center;}
	.p3{margin-bottom: 0;}
.gallery_car_box{text-align: center;}
	.mini_calculator,.installment_plan{
		width: auto;
		background-position: 235px 6px;
		margin-left: 0;
	}
	.installment_plan{background-position: 200px 4px;}
	.reviews{margin: 0 0 0 14px;}
	.box3{width: auto;margin: 0;}
#accordion{width: auto; margin: 0;}
	.GBO_title{
		-webkit-background-size: cover;
		background-size: cover;
	}
.title2{text-align: center;}
	.gen_specification{width: 220px !important; float: left;}
	.grade{width: 100%;margin-left: 0;}
	.grade_it_box a{margin: 0;}
	.payment_lk{
		float: right;
		margin-top: 0;
		display: block;
		width: 120px;
	}
	.elaboration{float: left;}
	.payment_box .grid_3{margin-bottom: 5px;}
	.generation_tab{width: 60px !important;float: left !important;}

.list2_it>div.grid_2{display: inline-block;width: auto;}
.list2_it{padding-bottom: 5px;}
		.more{margin-top: 10px;}
#accordion div.grid_4{margin-bottom: 0;}
#accordion{padding-top: 15px;}
	 .mini_calculator{margin-top: 25px !important;}
	 	.banner_box .calculator_lk{margin-right: 50px;padding-left: 30px;}
.list2{padding-bottom: 0;}

}

@media only screen and (max-width: 479px) {
 body{min-width:300px;}

 .sf-menu_it, .sf-menu li{
 	text-align: left;
 }
 	.menu_link{padding-left: 50px;}
 	.sub_menu, li.sfHover>.sub_menu{
 		padding: 0;
 		-webkit-border-radius: 0;
 		-moz-border-radius: 0;
 		border-radius: 0;
 	}
 	.sub_menu_item{display: block;}
 	.sub_menu_link{
 		text-align: left;
 		padding-left: 80px;
 	}

 .demo,.demo1{
 	height: 54px;
 	display: inline-block;
 	float: none;
 }
 .tel_box,.social{float: none;}
 .social{margin-top: 10px;}
.cost_inp[type=text]{margin-left: 98px;}
 .quote_box{display: none;}
 .gallery_box{text-align: center;}
 	.gallery_box_sub_it{
 		display: inline-block;
 		float: none;
 		padding-bottom: 6px;
 	}
 	.gallery_box_sub_it:first-child{padding-left: 6px;}
.mini_calculator{background-position: 154px 6px;} 
.installment_plan{background-position: 138px 6px;}
	.banner_box .calculator_lk{margin-right: 0;}

.elaboration,.payment_lk{float: none;}
.title9{float: none; line-height: 22px;}
.gen_but{height: 47px;float: none;}
#dd6, #dd7{width: auto;}
}