@import "reset.css";
@import "skeleton.css";
@import "superfish.css";
@import "flexslider.css";
@import "easy-responsive-tabs.css";
@import "../font/helvetica.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=latin,cyrillic);
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family:'Open Sans', sans-serif;
  font-size:15px;
  line-height: 27px;
  color:#5f5f5f;
  background: #f8f8f8 url(../images/body_bg.jpg) center 0 no-repeat;
  -webkit-text-size-adjust: none;
}
body.gallery_page{
  background: #f8f8f8 url(../images/body_bg2.jpg) center 0 no-repeat;
}
body.gallery_main,body.GBO_integration{
  background: #f8f8f8 url(../images/body_bg_gallery.jpg) center 0 no-repeat;
}
body.gallery_page1{
  background: #f8f8f8 url(../images/body_bg3.jpg) center 0 no-repeat;
}
body.about{
  background: #f8f8f8 url(../images/body_about.jpg) center 0 no-repeat;
}
/*----------------------> Links And buttons <------------------*/
a {
  color:#;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#;
  text-decoration:none;
}

.button{
  display:inline-block;
  padding:0 0 0 0;
  margin: 0 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.button:hover{
  background:;
  color:#000;
}


.hel{
  font-family: 'helvetica_roundedbold';

}
/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase;}
.f_left {float:left;}
.f_right {float:right;}
.al_right {text-align:right;}
.al_left {text-align:left;}
.al_center {text-align:center;}

.it{font-style:italic}
.let{letter-spacing:-1px}

/*----------------------> Indents Zero <------------------*/
.m_top_zero{ margin-top: 0 !important;}
.m_bot_zero{ margin-bottom:0 !important;}
.m_left_zero{ margin-left:0 !important;}
.m_right_zero{ margin-right:0 !important;}
.p_bot_zero{ padding-bottom:0 !important;}
.p_left_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.wrapper {overflow:hidden}
.f_elem *:first-child{margin-top: 0 !important;}
.f_elem1 *:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_in-block{ display:inline-block;}

/*----------------------> Basic Colors <------------------*/



/*======================> Header <======================*/

header {
  position: relative;
  z-index: 99;
}
.header_top{
  padding-top: 15px;
}
h1.logo a{
  display:inline-block;
  width:184px;
  height:69px;
  margin-left: 2px;
  background:url(../images/logo.png) 0 0 no-repeat;
  text-decoration:none;
  text-indent:-9999px;
}

/* DEMO 3 */

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 122px;
    margin-top: 18px;
    margin-left: 34px;
    padding: 0 0 0 18px;

    /* Styles */
    background: #fff url(../images/dropdown-3_bg.png) 0 0 repeat;
    border-radius: 4px;
    text-shadow: 1px 0px 0px rgba(0,0,0,0.1);
    box-shadow: -1px 1px 8px rgba(0,0,0,0.3);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font: 400 15px/36px 'Open Sans', sans-serif;
    color: #404040;
    letter-spacing: 1.1px
}
#dd1{
  width: 74px;
  margin-right: 2px;
  margin-left: 0;
  padding-left: 13px;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 55%;
    margin-top: -3px;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #404040 transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;

    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: #404040;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    /*float: right;
    color: inherit;*/
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 5px 5px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 5px 5px;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    z-index: 9;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}
.tel_box{
  padding-left: 25px;
  margin-top: 16px; 
  width: 203px;
}
  .tel{
    font-size: 22px;
    padding-bottom: 2px;
    line-height: 1em;
    font-weight: 800;
    color: #fff;
    margin-bottom: 0;
  }
    .tel_icon{
      display: inline-block;
      margin: 3px 7px 1px 1px;
      width: 19px;
      height: 17px;
      background: url(../images/tel_icon.png) 0 0 no-repeat;
    }
  .tel_lk{
    font: 14px/16px 'Open Sans', sans-serif;
    color: #fff;
    padding-left: 5px;
    text-decoration: underline;
  }
.social{
  margin-top: 24px;
  padding-right: 22px;
}
  .social a{
    display: inline-block;
    width: 28px;
    border-radius: 2px;
    margin-left: 2px;
  }
  .social .fb{
    margin-left: 7px;
  }
  .social .sk{
    font: 600 14px/28px 'Open Sans', sans-serif;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.5); 
    width: 118px;
    color: #fff;
    background: #b7d00f; /* Old browsers */
    background: -moz-linear-gradient(top,  #b7d00f 26%, #508d07 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(26%,#b7d00f), color-stop(100%,#508d07)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b7d00f 26%,#508d07 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b7d00f 26%,#508d07 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b7d00f 26%,#508d07 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b7d00f 26%,#508d07 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7d00f', endColorstr='#508d07',GradientType=0 ); /* IE6-9 */
    
  }
  .sk:hover{
    background: #b7d00f; /* Old browsers */
    background: -moz-linear-gradient(top,  #508d07 26%, #b7d00f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(26%,#508d07), color-stop(100%,#b7d00f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #508d07 26%,#b7d00f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #508d07 26%,#b7d00f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #508d07 26%,#b7d00f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #508d07 26%,#b7d00f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#508d07', endColorstr='#b7d00f',GradientType=0 ); /* IE6-9 */
  }
  .social i{
    display: inline-block;
    width: 28px;
    height: 28px;
  }
  .sk_icon{
    background: url(../images/sk_icon.png) 0 0 no-repeat;
    margin-right: 5px;
  }
  .fb_icon{
    background: url(../images/fb_icon.png) 0 0 no-repeat;
  }
  .tw_icon{
    background: url(../images/tw_icon.png) 0 0 no-repeat;
  }
  .g_icon{
    background: url(../images/g_icon.png) 0 0 no-repeat;
  }
  .demo1 i{
    display: inline-block;
    width: 20px;
    height: 14px;
    margin: 11px 5px 0 -3px;
  }
    .ru,.en{
      background: url(../images/ru_icon.png) 0 0 no-repeat;
    }

/*---breadcrumbs---*/
.breadcrumbs{
  padding: 18px 0 0px 10px;
  margin-left: -5px;
}
  .breadcrumbs_it{
    float: left;
    padding-left: 27px;
    margin-bottom: 25px;
  }
  .breadcrumbs_it:first-child{padding-left: 0;}
    .breadcrumbs_lk{
      display: block;
      position: relative;
      font-size: 15px;
      line-height: 36px;
      font-weight: 600;
      color: #fff;
      background: #353d49;
      padding: 9px 10px 8px 10px;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;
    }
      .breadcrumbs_lk b{display: none;}
    .breadcrumbs_first{
      background: url(../images/breadcrumbs_first_bg.png) 0 0 repeat-x;
      height: 53px;
      padding: 0 0px;
    }
      .breadcrumbs_first span{display: none;}
    .breadcrumbs_lk:before{
      content: "";
      width: 17px;
      height: 53px;
      display: block;
      position: absolute;
      top: 0;
      left: -17px;
      background: url(../images/breadcrumbs_bfore.png) 0 0 no-repeat;
    }
    .breadcrumbs_lk:after{
      content: "";
      width: 19px;
      height: 53px;
      display: block;
      position: absolute;
      top: 0;
      right: -19px;
      background: url(../images/breadcrumbs_after.png) 0 0 no-repeat; 
    }
    .breadcrumbs_last:after{
      content: "";
      width: 30px;
      height: 53px;
      display: block;
      position: absolute;
      top: 0;
      right: -30px;
      background: url(../images/breadcrumbs_after_last.png) 0 0 no-repeat; 
    }
    
    .breadcrumbs_it:hover .breadcrumbs_lk{
      background: url(../images/breadcrumbs_first_bg.png) 0 0 repeat-x;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;
    }
    .breadcrumbs_it:hover .breadcrumbs_lk:after{
      background: url(../images/breadcrumbs_after_hover.png) 0 0 no-repeat;
    }
    .breadcrumbs_it:hover .breadcrumbs_last:after{
      background: url(../images/breadcrumbs_after_last.png) 0 0 no-repeat;
    }
    .breadcrumbs_it:hover .breadcrumbs_lk:before{
      background: url(../images/breadcrumbs_bfore_hover.png) 0 0 no-repeat;
    }
    .breadcrumbs_first:after{
      width: 19px;
      right: -19px;
      background: url(../images/breadcrumbs_after_first.png) 0 0 no-repeat;
    }
    .breadcrumbs_first:before{
      width: 30px;
      left: -30px;
      background: url(../images/breadcrumbs_before_first.png) 0 0 no-repeat;
    }
    .breadcrumbs_it:hover .breadcrumbs_first:before{
      background: url(../images/breadcrumbs_before_first.png) 0 0 no-repeat;
    }
    .breadcrumbs_it:hover .breadcrumbs_last:before{
      background: url(../images/breadcrumbs_bfore.png) 0 0 no-repeat;
    }
    .breadcrumbs_it:hover .breadcrumbs_last{
      background: #353d49;
    }

/*=====================> Content ========================*/
body.main #content{margin-top: 378px;}
#content {padding:0px 0px 0px 0px;z-index: 99; position: relative;}
.cont_pad{padding:0 0 0 0 !important;}
.cost_box{padding-bottom: 33px;}
  .slider1_it2,.slider1_it3{
    width: 650px;
    height: 40px;
    top: -50px;
    right: 0;
    text-align: right;
    font-size: 32px;
    line-height: 36px;
    font-weight: 800;
    color: #0c5288;
  }
  .cost_box_pointer{
    top: -15px;
    right: -100px;
  }
  .slider1_it2{top: -90px;}
.cost_box_tab{
  width: 100%;
  border: 1px solid #3b86c4;
  -webkit-border-radius: 5px 7px;
  -moz-border-radius: 5px 7px;
  border-radius: 5px 7px;
  -moz-transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  -o-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  transform: skewX(-30deg);
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
  margin-bottom: 19px;
  box-shadow: 2px 3px 3px rgba(0,0,0,0.3);
}
  .cost_it{
    float: left;
    width: 305px;
    text-align: center;
    -webkit-border-radius: 4px 6px;
    -moz-border-radius: 4px 6px;
    border-radius: 4px 6px;
  }
  .cost_it_second{width: 317px;}
  .cost_it_last{width: 338px;}
  .cost_it:hover,.resp-tab-active,.grade:hover .generation_title{
    background: #0f6ab1; /* Old browsers */
    background: -moz-linear-gradient(top,  #0f6ab1 0%, #0a4a7c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f6ab1), color-stop(100%,#0a4a7c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0f6ab1 0%,#0a4a7c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0f6ab1 0%,#0a4a7c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0f6ab1 0%,#0a4a7c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0f6ab1 0%,#0a4a7c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f6ab1', endColorstr='#0a4a7c',GradientType=0 ); /* IE6-9 */
  }
  .resp-tab-active .cost_lk{
    color: #fff;
  }
    .cost_it:hover .cost_lk:after,.resp-tab-active .cost_lk:after{
      content: "";
      display: block;
      position: absolute; 
      top: 0px;
      z-index: 10 !important;
      right: -30px;
      width: 48px;
      height: 51px;
      background: url(../images/cost_it_hover.png) 0 0 no-repeat;
    }
    .cost_it:hover .cost_lk{
      color: #fff;
    }
    .cost_lk{
      position: relative;
      display: block;
      font-size: 17px;
      line-height: 36px;
      font-weight: 600;
      color: #372f2b;
      padding: 7px 0 8px;
      -moz-transform: skewX(30deg);
      -webkit-transform: skewX(30deg);
      -o-transform: skewX(30deg);
      -ms-transform: skewX(30deg);
      transform: skewX(30deg);
    }

    .cost_lk_first{z-index: 5;}
    .cost_lk_second{z-index: 3;}
    .cost_lk:before{
      content: "";
      display: block;
      position: absolute; 
      top: -1px;
      z-index: 9;
      left: -14px;
      width: 43px;
      height: 53px;
      background: url(../images/cost_it_bg.png) 0 0 no-repeat;
    }
    .cost_lk_first:before{
      display: none;
    }
    
    .resp-tab-active .cost_lk_last:after,.cost_it:hover .cost_lk_last:after{
      display: none;
    }
    .cost_btn_lk{
      display: inline-block;
      padding: 0 35px;
      margin-top: 42px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size: 16px;
      line-height: 37px;
      padding-bottom: 1px;
      color: #fff;
      text-align: center;
      text-shadow: 0px -1px 2px rgba(0,0,0,0.5);
      background: #0f6ab1; /* Old browsers */
      background: -moz-linear-gradient(top,  #0f6ab1 0%, #0a4a7c 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f6ab1), color-stop(100%,#0a4a7c)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #0f6ab1 0%,#0a4a7c 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #0f6ab1 0%,#0a4a7c 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #0f6ab1 0%,#0a4a7c 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #0f6ab1 0%,#0a4a7c 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f6ab1', endColorstr='#0a4a7c',GradientType=0 ); /* IE6-9 */
    }
    .cost_btn_lk:hover{
        background: #0f6ab1; /* Old browsers */
      background: -moz-linear-gradient(top,  #0a4a7c 0%, #0f6ab1 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a4a7c), color-stop(100%,#0f6ab1)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #0a4a7c 0%,#0f6ab1 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #0a4a7c 0%,#0f6ab1 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #0a4a7c 0%,#0f6ab1 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #0a4a7c 0%,#0f6ab1 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a4a7c', endColorstr='#0f6ab1',GradientType=0 ); /* IE6-9 */      
    }
  .type_gas p{padding-top: 20px;}
  .type_gas label{
    font-size: 15px;
    line-height: 15px;
    font-weight: 600;
    color: #372f2b;
  }
  .jq-radio {
    margin: 0 3px 2px 5px;
    width: 12px;
    height: 12px;
    border: 1px solid #C3C3C3;
    border-radius: 50%;
    background: #F6F6F6 url(data:image/gif;base64,R0lGODlhAQAMALMAAPHx8f7+/vv7+/j4+PX19fLy8vz8/Pn5+fb29vPz8/39/ff39wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAAwAAAQJMCgjzliIpAIiADs=) 0 -1px repeat-x;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
    vertical-align: middle;
    cursor: pointer;
  }
  .jq-radio.checked .jq-radio__div {
    width: 6px;
    height: 6px;
    margin: 3px 0 0 3px;
    border-radius: 50%;
    background: #3376b3;
  }
  .jq-checkbox {
    margin-right: 10px;
    overflow: visible !important;
    top: -1px;
    width: 13px;
    height: 13px;
    border: 1px solid #C3C3C3;
    border-radius: 3px;
    background: #F6F6F6 url(data:image/gif;base64,R0lGODlhAQAMALMAAPHx8f7+/vv7+/j4+PX19fLy8vz8/Pn5+fb29vPz8/39/ff39wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAAwAAAQJMCgjzliIpAIiADs=) repeat-x;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
    vertical-align: middle;
    cursor: pointer;
  }
  .jq-checkbox.checked .jq-checkbox__div{
    width: 18px;
    height: 13px;
    background: url(../images/jq-checkbox__div_bg.png) 0 0 no-repeat;
  }

/*cost_box*/

.cost_btm_n{
  font-size: 15px;
  line-height: 36px;
  font-weight: 400;
  color: #404040;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#dd2,#dd3,#dd4,#dd5{
  margin: 0px 0 0 0;
  width: 206px;
  font-size: 15px;
  padding-left: 14px;
}
#dd5{width: 176px;}
#dd2:after,#dd3:after,#dd4:after,#dd5:after,#dd6:after,#dd7:after{
  top: 70%;
}
#dd2:before,#dd3:before,#dd4:before,#dd5:before,#dd6:before,#dd7:before{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 10px;
  top: 40%;
  margin-top: -3px;
  border-width: 0px 5px 5px 5px;
  border-style: solid;
  border-color: #404040 transparent;
}
#dd2,#dd3{margin-right: 4px;}
.box2{display: block;}
.cost_inp[type=text]{
  margin: 0px 5px 0 15px;
  width: 49px;
  height: 34px;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e4e4e2;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
  background: #fff;
  text-align: center;
  font-size: 15px;
  line-height: 34px;
  font-weight: 400;
  color: #404040;
  z-index: 9;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.grade_box{margin-left: 10px;}
.grade{
  float: left;
  width: 384px;
  margin-top: 9px;
  overflow: hidden;
  margin-left: 30px;
  margin-bottom: 10px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: #fcfcfc;
  background: -moz-linear-gradient(top,  #fcfcfc 0%, #f4f4f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f4f4f4));
  background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f4f4f4 100%);
  background: -o-linear-gradient(top,  #fcfcfc 0%,#f4f4f4 100%);
  background: -ms-linear-gradient(top,  #fcfcfc 0%,#f4f4f4 100%);
  background: linear-gradient(to bottom,  #fcfcfc 0%,#f4f4f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f4f4f4',GradientType=0 );
}
.grade_it_box{
  width: 247px;
  position: relative;
}
.generation_title{
  font-size: 15px;
  line-height: 36px;
  font-weight: 700;
  color: #404040;
  text-align: center;
  background: #e9e9e9;
  background: -moz-linear-gradient(top,  #e9e9e9 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9e9), color-stop(100%,#e0e0e0));
  background: -webkit-linear-gradient(top,  #e9e9e9 0%,#e0e0e0 100%);
  background: -o-linear-gradient(top,  #e9e9e9 0%,#e0e0e0 100%);
  background: -ms-linear-gradient(top,  #e9e9e9 0%,#e0e0e0 100%);
  background: linear-gradient(to bottom,  #e9e9e9 0%,#e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#e0e0e0',GradientType=0 );
}
.grade:hover .generation_title{color: #fff;}
.grade_gen,.grade_list{
  padding: 15px 20px 10px 20px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #8f8f8f;
}
.grade_list{
  padding: 15px 0 50px 0;
  line-height: 24px;

}
  .grade_list_it{
    border-top: 1px solid #e5e5e5;
    padding-left: 20px;
  }
  .grade_list_it:first-child{border: none;}
.grade:hover .grade_gen,.grade:hover .grade_list{color: #404040;}
.grade a{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #3170a4;
  text-decoration: underline;
  display: inline-block;
  padding-top: 10px;
}
.grade a:hover{text-decoration: none;}
.grade_it_box a{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  line-height: 28px;
  padding: 0 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.payment_lk{
  color: #fff;
  margin-top: 15px;
  text-decoration: none;
  line-height: 28px;
  padding: 0 30px;
}
.payment_lk_pointer{
  display: inline-block;
  margin-top: 7px;
  margin-left: 5px;
  width: 14px;
  height: 14px;
  background: url(../images/payment_lk_pointer.png) 0 1px no-repeat;
}
.payment_lk:hover .payment_lk_pointer{
  background-position: 0 bottom;
}

#dd6,#dd7{
  width: 220px;
  margin-left: 0;
  margin-top: 10px;
}
.gen_but{height: 36px;}
.grade_it_box .generation_title{padding-left: 20px;}
.payment_title{
  font-size: 17px;
  line-height: 36px;
  font-weight: 600;
  color: #5f5f5f;
}
.payment_cost{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #3374aa;
}
.payment_currency{
  display: inline-block;
  padding-top: 12px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
  color: #3374aa; 
}
.additional_options p{
  padding-left: 20px;
  line-height: 24px;
}
.additional_options{
  font-size: 15px;
  line-height: 36px;
  font-weight: 600;
  color: #4d4d4d;
}
.elaboration{
  font-size: 17px;
  line-height: 19px;
  font-weight: 600;
  color: #70a7d5;
}


/*flexslider*/

.quote_box{
  background: #2662a0;
  padding: 24px 57px 23px 59px ;
  margin-top: 11px;
  z-index: 999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.quote_box:before{
  content: "";
  display: block;
  position: absolute;
  top: -27px;
  left: 53px;
  width: 50px;
  height: 30px;
  background: url(../images/quote_box_bg.png) 0 0 no-repeat;
}
  .quote{
    font-size: 19px;
    line-height: 27px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
  }
  .quote:before{
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -41px;
    width: 24px;
    height: 17px;
    background: url(../images/quote_before.png) 0 0 no-repeat;
  }
  .quote:after{
    content: "";
    display: block;
    position: absolute;
    bottom: 2px;
    right: 116px;
    width: 24px;
    height: 17px;
    background: url(../images/quote_after.png) 0 0 no-repeat;
  }
  .quote_lk{
    color: #81cdf9;
    text-decoration: underline;
  }
  .owner{
    font-size: 19px;
    line-height: 27px;
    font-weight: 600;
    color: #fff;
  }
  .make{
    text-decoration: none;
  }
.baner{
  width: 560px;
  bottom: 60px;
  left: 55px;
}
.baner span{
  display: inline-block;
  background-color: rgba(0,0,0,0.5);
  font-size: 27px;
  line-height: 35px;
  color: #fff;
  margin-bottom: 2px;
  font-weight: 600;
}

  .make:hover{text-decoration: underline;}
  #prev,#next,#prev3,#next3{
    display: block;
    z-index: 9999;
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 43px;
    left: 55px;
    background-color: rgba(0,0,0,0.5);
  }
#prev:hover,#next:hover,#prev3:hover,#next3:hover{
  background-color: rgba(51,118,179,1);
}
#prev,#prev3{background-image: url(../images/prev2.png);}
#next,#next3{
  background-image: url(../images/next2.png);
  left: 95px;
}
/*new*/
.news_it{
  float: left;
  width: 220px;
  margin: 14px 0px 0 20px;
  background: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
.news_it:first-child{margin-left: 0;}
.news_icon{
  padding-top: 77px;
  text-align: center;
  bottom: -57px;
  width: 110px;
  left: 50%;
  margin-left: -55px;
  display: block;
  font-size: 15px;
  line-height: 1em;
  font-weight: 700;
}
.photo_ic{background: url(../images/news_icon3.png) center 0 no-repeat;color: #733ec7;}
.news_ic{background: url(../images/news_icon2.png) center 0 no-repeat;color: #3b86c4;}
.video_ic{background: url(../images/news_icon1.png) center 0 no-repeat;color: #d12f2f;}
.news_it img{width: 100%;}
.news_cont{padding: 84px 17px 19px;}
.news_lk{
  display: inline-block;
  font-size: 15px;
  line-height: 36px;
  margin: 7px 0 5px;
  font-weight: 600;
  color: #3b86c4;

  text-decoration: underline;
}
.news_lk:hover{
  text-decoration: none;
}

.news_cont p{
  padding-top: 22px;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #5f5f5f;
  text-align: left;
  margin-bottom: 0;
}
.likes,.comtnts{
  display: inline-block;
  padding-top: 5px;
  font-size: 13px;
  line-height: 27px;
  font-weight: 400;
  color: #bcbcbc;
}
.comtnts{
  padding-left: 5px;
}
.news_box{
  padding-bottom: 40px;
}

/*achievements*/

.box1{
  display: inline-block;
}
.box1 p{
  font-size: 22px;
  line-height: 24px;
  font-weight: 600;
  color: #7e7e7e;
  margin-bottom: 2px;
}
.column3{
  padding-left: 76px;
}
.column2{padding-left: 34px;}
.column1 img{margin-top: 5px;}
.column1 .box1 p{line-height: 22px;padding-top: 1px;}
.column2 img{margin-top: 10px;}
.column3 img{margin-top: 3px;}
.column1 div.box1{
  width: 222px;
  padding-left: 13px;
}
.column2 div.box1{
  width: 131px;
  padding-left: 5px;
}
.column3 div.box1{
  width: 118px;
  padding-left: 0px;
}
.qt{
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: #4e95d0;
}

.equipment{padding-top: 30px;padding-bottom: 43px;}
.description_box{
  padding: 0 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #bdbdbd;
  padding-bottom: 20px;
}
body.GBO_integration .description_box{
  padding-top: 35px;
}

/*about*/

.description{padding-top: 10px;}
.scheme{margin-bottom: 25px;`}
.scheme img{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.box_photo img{
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.gallery_box_it{
  overflow: hidden;
  padding-left: 20px;
  padding-bottom: 25px;
}
.gallery_box_sub_it{
  float: left;
  width: 100px;
  padding-left: 40px;
}
  .gallery_box_sub_it img{
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
  }
.gallery_box_sub_it:first-child{padding-left: 0;}

/*index2*/
.gallery_car_box{
  padding-top: 12px;
}
  .gallery_car_it{
    padding-bottom: 18px;
  }
  .gallery_car_it1{
    display: inline-block;
    margin: 0 7px 14px 7px;
    width: 140px;
  }
    .gallery_car_it1 img{
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
.banner_box{
  margin-top: 11px;
  margin-left: 3px;
  padding: 22px 22px 23px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.mini_calculator{
  background: #f3f8fc url(../images/calculator_bg.png) 158px 6px no-repeat;
  border: 3px solid rgba(137,199,239,0.4);
}
.installment_plan{
  background: #f3f8fc url(../images/installment_plan_bg.png) 135px 4px no-repeat;
  border: 3px solid rgba(241,208,201,0.4);
}
  .banner_box p{
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    margin:0 0 5px;
    color: #404040;
  }
  .banner_box span{
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    
  }
  .mini_calculator span{color: #3375ab;}
  .installment_plan span{color: #db1a00;}
  .banner_box .calculator_lk{
    display: block;
    font-size: 16px;
    line-height: 1em;
    font-weight: 600;
    color: #fff;
    margin-top: 5px;
    padding: 10px 0px 10px 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .mini_calculator .calculator_lk{
    background: #0f6ab1; /* Old browsers */
    background: -moz-linear-gradient(top,  #0f6ab1 0%, #0a4b7c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f6ab1), color-stop(100%,#0a4b7c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0f6ab1 0%,#0a4b7c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0f6ab1 0%,#0a4b7c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0f6ab1 0%,#0a4b7c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0f6ab1 0%,#0a4b7c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f6ab1', endColorstr='#0a4b7c',GradientType=0 ); /* IE6-9 */
  }
  .installment_plan .calculator_lk{
    background: #cd4f3e; /* Old browsers */
    background: -moz-linear-gradient(top,  #cd4f3e 0%, #90372c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cd4f3e), color-stop(100%,#90372c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cd4f3e 0%,#90372c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cd4f3e 0%,#90372c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cd4f3e 0%,#90372c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cd4f3e 0%,#90372c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd4f3e', endColorstr='#90372c',GradientType=0 ); /* IE6-9 */
  }
  .installment_plan .calculator_lk:hover{
    background: #cd4f3e; /* Old browsers */
    background: -moz-linear-gradient(top,  #90372c 0%, #cd4f3e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90372c), color-stop(100%,#cd4f3e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #90372c 0%,#cd4f3e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #90372c 0%,#cd4f3e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #90372c 0%,#cd4f3e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #90372c 0%,#cd4f3e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90372c', endColorstr='#cd4f3e',GradientType=0 ); /* IE6-9 */
  
  }
    .banner_box i{
      display: inline-block;
      margin-left: 4px;
      margin-top: 1px;
      width: 11px;
      height: 15px;
      background: url(../images/calculator_lk_bg.png) 0 0 no-repeat;
    }
.reviews_box{padding-top: 25px;}
  .reviews_it1{padding-top: 5px;}
  .reviews_img{margin-left: 2px;}
  .reviews{
    margin-top: 1px;
    margin-left: 14px;
    position: relative;
    background: #fefefe;
    padding: 17px 18px 10px 18px;
    margin-bottom: 20px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 1px 1px rgba(215,215,211,0.75);
  }
  .reviews:before{
    content: "";
    position: absolute;
    top: 18px;
    left: -10px;
    width: 10px;
    height: 23px;
    background: url(../images/reviews_bg.png) 0 0 no-repeat;
  }
    .naim{
      font: 15px;
      line-height: 1em;
      font-weight: 700;
      color: #372f2b;
    }
    .data{
      font: 13px;
      line-height: 15px;
      font-weight: 700;
      color: #888888; 
    }
    .ratingbox{
      display: inline-block;
      margin-top: -3px;
      width: 102px;
      height: 19px;
      background: url(../images/stars_bg.png) 0 0 repeat-x;
    }
      .stars-orange{
        display: inline-block;
        width: 74px;
        height: 19px;
        background: url(../images/stars_bg_hover.png) 0 0 repeat-x;

      }
    .reviews p{
      font-size: 15px;
      line-height: 28px;
      font-weight: 400;
      margin-bottom: 7px;
    }
      .reply_lk i{
        display: inline-block;
        width: 18px;
        height: 12px;
        margin-top: 5px;
        background: url(../images/reply_bg.png) 0 0 no-repeat;
      }
      .reply{
        font-size: 15px;
        line-height: 22px;
        font-weight: 600;
        color: #3b86c4;
        padding-left: 12px;
        text-decoration: underline;
        text-shadow: 0 0 3px rgba(154,191,222,0.5);
      }
      .reply_lk:hover .reply{
        text-decoration: none;
      }
  .reviews_it2{
    padding-left: 42px;
  }
    .box3{
      margin: 0 10px 0 8px;
      width: 820px;
    }
  .pages{
    margin-top: 21px;
    margin-bottom: 25px;
  }
  .pages_it{
    float: left;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 10px;
    background: rgba(0,0,0,0.5);
  }
  .pages_it:first-child{
    margin-left: 0;
  }
  .pages_it:hover,.pages .activ{
    background: #0f6ab1; /* Old browsers */
    background: -moz-linear-gradient(top,  #0f6ab1 0%, #0a4b7c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f6ab1), color-stop(100%,#0a4b7c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0f6ab1 0%,#0a4b7c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0f6ab1 0%,#0a4b7c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0f6ab1 0%,#0a4b7c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0f6ab1 0%,#0a4b7c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f6ab1', endColorstr='#0a4b7c',GradientType=0 ); /* IE6-9 */
  }
    .pages_lk{
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 14px;
      line-height: 35px;
      font-weight: 800;
      color: #fff;
    }
    .pages_prev{
      background: url(../images/pages_prev.png) center 0 no-repeat;
    }
    .pages_next{
      background: url(../images/pages_next.png) center 0 no-repeat;
    }

  .add_review label{
    display: block;
    padding-bottom: 8px;
    font-size: 15px;
    font-weight: 600;
    color: #404040;
  }
  .add_review_input,#review{
    width: 100%;
    margin: 0;
    border: 1px solid #e4e4e2;
    background: #fff;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
    outline: none;
    font-size: 15px;
    line-height: 34px;
    font-weight: 600;
    color: #404040;
    margin-bottom: 17px;
  }
  .rating{
    margin-bottom: 18px;
  }
    .rating span{
      font-size: 15px;
      font-weight: 600;
      color: #404040;
    }
    .rating .ratingbox{
      margin-top: 3px;
      margin-left: 5px;
    }
#review{height: 106px;}
  .coment_lk{
    display: inline-block;
    margin-left: 11px;
    position: relative;
    padding: 10px 15px 12px 0;
    font-size: 16px;
    line-height: 1em;
    font-weight: 600;
    color: #fff;
    background: #0f6ab1; /* Old browsers */
    background: -moz-linear-gradient(top,  #0f6ab1 0%, #0a4b7c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f6ab1), color-stop(100%,#0a4b7c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0f6ab1 0%,#0a4b7c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0f6ab1 0%,#0a4b7c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0f6ab1 0%,#0a4b7c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0f6ab1 0%,#0a4b7c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f6ab1', endColorstr='#0a4b7c',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .coment_lk:hover,.calculator_lk:hover{
    background: #0f6ab1; /* Old browsers */
    background: -moz-linear-gradient(top,  #0a4b7c 0%, #0f6ab1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a4b7c), color-stop(100%,#0f6ab1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0a4b7c 0%,#0f6ab1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0a4b7c 0%,#0f6ab1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0a4b7c 0%,#0f6ab1 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0a4b7c 0%,#0f6ab1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a4b7c', endColorstr='#0f6ab1',GradientType=0 ); /* IE6-9 */
    
  }
  .coment_lk:after{
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    width: 2px;
    height: 38px;
    background: url(../images/com_bd_after.png) 0 0 no-repeat;
  }
    .coment_lk i{
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: -3px 25px 0 12px;
      background: url(../images/add_com_icon.png) 0 0 no-repeat;
    }
.add_review{
  padding-bottom: 35px;
  margin-left: 1px;
}

/*galleri*/
.make_logo{
  border-right: 2px solid #e4e4e4;
}
.generation{
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #2f2f2f;
}
.more{
  display: inline-block;
  padding: 5px 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  color: #333333;
  border: 1px solid #cfcece;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f2f2 0%, #d7d7d7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#d7d7d7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f2f2f2 0%,#d7d7d7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f2f2f2 0%,#d7d7d7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f2f2f2 0%,#d7d7d7 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f2f2f2 0%,#d7d7d7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-9 */

}
.more:hover{
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(top,  #d7d7d7 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7d7d7), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d7d7d7 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d7d7d7 0%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d7d7d7 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d7d7d7 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d7d7', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

}
  .more span{padding-left: 4px;}
  .make_logo{margin-right: 10px;}

  /*accordion*/

  .GBO_title{
    cursor: pointer;
    padding: 32px 0;
    text-align: center;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    margin-top: 5px;
  }
  .GBO_gen{
    background:  url(../images/GBO_title1.png) 0 0 no-repeat;
    padding-left: 60px;
  }
  .GBO_princ{background: url(../images/GBO_title2.png) 0 0 no-repeat;}
  .GBO_grade{background: url(../images/GBO_title3.png) 0 0 no-repeat;}
  .GBO_gen4{
    background: url(../images/GBO_title4.png) 0 0 no-repeat;
    padding-left: 60px;
  }
  .GBO_gas_diesel{
    background: url(../images/GBO_title5.png) 0 0 no-repeat; 
    padding-left: 60px;
  }
  .GBO_title i{
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    background: url(../images/GBO_title_pointer.png) 0 0 no-repeat;
  }
  .list3_it{
    background: #fff;
    margin-top: 2px;
  }
  .generation_tab{
    height: 88px;
    font-size: 36px;
    line-height: 88px;
    font-weight: 700;
    text-align: center;
    color: #e6e6e6;
  }
  .principles{
    background: #fff;
    padding: 15px;
    margin-top: 2px;
    margin-bottom: 0;
  }
  .grade_box{
    font-size: 12px;
    line-height: 13px;
    font-weight: 600;
    color: #a5a5a5;
  }
  .grade_lk{
    display: block;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    color: #2967bd;
    margin-bottom: 5px;
  }
  #accordion{margin-bottom: 40px;}
  .box4{background: #ebebeb;}
.banner1{margin-bottom: 25px;}
/*=====================> Paragraphs ========================*/
.pl5{margin-left: 5px;}




p {margin-bottom:18px}
.p2{ margin-bottom:0;}
.p3{ margin-bottom:120px;}
.p4{ margin-bottom:35px;}
.p5{ margin-bottom:0;}
.p6{ margin-bottom:0;}


/*=====================> Lists ========================*/
.list{padding-top: 8px;}
.list_item{
  float: left;
  display: inline-block;
  padding: 0 9px;
}
.list_item:first-child{padding-left: 0;}
.list1_link{}

.list2{padding-bottom: 19px;}
  .list2_it{
    padding-bottom: 17px;
  }
  .list2_title{
    width: 140px;
    margin-left: 10px;
  }
.list2_link{}

.list3{}
.list3_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3_link{}
.list4_it{padding-bottom: 9px;}
  .list4_it{
    margin: 0 0 6px 6px;
    display: inline-block;
    
  }
/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
.title1 a{
  font-size: 32px;
  line-height: 36px;
  color:#0c5288;
  font-weight: 800;
}

.title2{
  padding-left: 10px;
  font-size: 32px;
  line-height: 36px;
  color:#fff;
  font-weight: 700;
}
.title2 a{color: #fff;}
.title3{
  font-size: 25px;
  line-height: 28px;
  color:#372f2b;
  font-weight: 600;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
.title4{
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 32px;
  line-height: 1em;
  font-weight: 700;
  color: #372f2b;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
.title5{
  font-size: 19px;
  line-height: 1em;
  font-weight: 600;
  color: #3b86c4;
}
.title6{
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #3375ab;
  text-decoration: underline;
}
.title6:hover{text-decoration: none;}
.title7 {
  font-size: 24px;
  line-height: 1em;
  padding-bottom: 5px;
  font-weight: 700;
  color: #3b86c4;
}
.installment_plan .title7{color: #cd4f3e;}
.title8{
    font-size: 24px;
    line-height: 1em;
    font-weight: 700;
    color: #3375ab;
    margin-bottom: 10px;
}
.title8 a{color: #3375ab;text-decoration: underline;}
.title8 a:hover{text-decoration: none;}
.title9{
  width: 140px;
  font-size: 15px;
  line-height: 54px;
  font-weight: 400;
  color: #404040;
  float: left;
}
.t_ind{ margin-bottom:px;}
.t_ind1{ margin-bottom:px;}
.t_ind2{ margin-bottom:px;}

/*================================>> GOOGLE FONTS  <<========================================*/



/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}



/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success
{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
#contact-form textarea, #contact-form input[type="text"]{
  margin:0;
  font-size:12px;
  border:1px solid #e7e7e7;
  color:#969696;
  padding:7px 10px;
  outline:none;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#contact-form input[type="text"]{
  width:347px;
}
#contact-form textarea {
  overflow:auto;
  width:433px;
  height:172px;
  resize:none;
  float:left;
  margin: 0 0 0 0;
}
  
#contact-form label {
  display:inline-block;
  position: relative;
  min-height:45px;
  overflow:hidden;
 }
#contact-form label.message {
  display:block;
  padding-bottom:0;
}
#contact-form .button {
  margin-left:8px;
}
#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}


/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:411px;
   height:237px;
}
.adress{}
.adress span{
  display:inline-block;
  width:74px;
}
.adress dt{ margin-bottom:14px;}

.demo{}
.demo:hover{ text-decoration:underline;}
/*
<dl class="adress">
  <dt><strong>8901 Marmora Road,<br>Glasgow, D04 89GR.</strong></dt>
  <dd><span>Freephone:</span>+1 800 559 6580</dd>
  <dd><span>Telephone:</span>+1 800 603 6035</dd>
  <dd><span>FAX:</span>+1 800 889 9898</dd>
  <dd>E-mail: <a href="#" class="demo">mail@demolink.org</a></dd>
</dl>
<div class="social">
	<a href="#" title="RSS"><img src="images/soc1.png" alt=""></a>
	<a href="#" title="Twitter"><img src="images/soc2.png" alt=""></a>
	<a href="#" title="Facebook"><img src="images/soc3.png" alt=""></a>
	<a href="#" title="Google +"><img src="images/soc4.png" alt=""></a>
</div>
*/

/*================================>> Footer <<========================================*/
footer {
  background: #efefeb;
  border-top: 1px solid #d0d0cd;
}
.footer_menu{
  padding: 8px 0;
}
  .footer_item{
    float: left;
}
    .footer_link{
      display: block;
      font-size: 16px;
      line-height: 36px;
      font-weight: 700;
      color: #4e95d0;
      padding-left: 36px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    .footer_link:hover{
      color: #372F2B;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    .footer_item:first-child .footer_link{
      padding-left: 0;
    }
.footer_bottom{
  background: #353d49;
  padding: 14px 0;
}
  .footer_bottom b{
    font-size: 15px;
    line-height: 27px;
    color: #fff;
    font-weight: 400;
    padding-left: 5px;
  }
  .developer{
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    color: #fff;
  }
    .developer a{
      color: #4e95d0;
      text-decoration: underline;
    }
    .developer a:hover{
      text-decoration: none;
    }